.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  font-size: 1rem;
}
